@model IEnumerable<WebApplication1.Models.OGameTypeBuilding>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TypeBuilding)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeBuilding)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @if (item.Name.Contains("BitCoinMine"))
                {
                    String name = "BitCoinMineLvl";
                    <td id=@name>
                        @Html.DisplayFor(modelItem => item.Level)
                    </td>
                }
                else if (item.Name.Contains("GoldMine"))
                {
                    String name = "GoldMineLvl";
                    <td id=@name>
                        @Html.DisplayFor(modelItem => item.Level)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Level)
                    </td>
                }

                <td>
                    @Html.ActionLink("Evolve", "Evolve", "OGamePlanets", new {buildingId = item.Id, planetId = ViewBag.Planet.Id}, null)
                </td>
            </tr>
        }
    }

</table>